<!DOCTYPE html>
<html>
  <head>
    <title>Tuc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </div>

    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>

  </body>
</html>
